{{!-- users-dropdown.hbs - Web Awesome 3.0 Version --}}

{{#if hasUsers}}
    <wa-card slot="header">Vis favoritter fra:">
        {{{userToggles}}}
    </wa-card>
    
    <wa-button variant="default" outline size="medium" expand id="addFavoritesBtn">
        <wa-icon slot="prefix" name="plus-lg"></wa-icon>
        Tilføj delte favoritter
    </wa-button>
    
    {{#if showAddInput}}
    <wa-card class="add-input-card">
        <wa-input 
            label="Navn på deling" 
            placeholder="F.eks. Kollegaer fra Aarhus"
            id="favoritesNameInput"
            size="small">
            <wa-icon slot="prefix" name="tag"></wa-icon>
        </wa-input>
        
        <wa-input 
            label="Indsæt delingslink" 
            placeholder="https://energimesse.dk/share?id=abc123"
            id="favoritesLinkInput"
            size="small"
            class="link-input">
            <wa-icon slot="prefix" name="link-45deg"></wa-icon>
        </wa-input>
        
        <wa-button-group class="action-buttons">
            <wa-button variant="primary" size="small" id="submitFavoritesLink">
                <wa-icon slot="prefix" name="check-lg"></wa-icon>
                Tilføj
            </wa-button>
            <wa-button variant="default" size="small" id="cancelAddFavorites">
                <wa-icon slot="prefix" name="x-lg"></wa-icon>
                Annuller
            </wa-button>
        </wa-button-group>
    </wa-card>
    {{/if}}
    
{{else}}
    <wa-card class="empty-state">
        <wa-icon name="people"></wa-icon>
        <div class="empty-title">Ingen delte favoritter endnu</div>
        <div class="empty-text">Indsæt et delingslink fra en anden bruger for at se deres favoritter.</div>
    </wa-card>
    
    <wa-button variant="default" outline size="medium" expand id="addFavoritesBtn">
        <wa-icon slot="prefix" name="plus-lg"></wa-icon>
        Tilføj delte favoritter
    </wa-button>
    
    {{#if showAddInput}}
    <wa-card class="add-input-card">
        <wa-input 
            label="Navn på deling" 
            placeholder="F.eks. Kollegaer fra Aarhus"
            id="favoritesNameInput"
            size="small">
            <wa-icon slot="prefix" name="tag"></wa-icon>
        </wa-input>
        
        <wa-input 
            label="Indsæt delingslink" 
            placeholder="https://energimesse.dk/share?id=abc123"
            id="favoritesLinkInput"
            size="small">
            <wa-icon slot="prefix" name="link-45deg"></wa-icon>
        </wa-input>
        
        <wa-button-group class="action-buttons">
            <wa-button variant="primary" size="small" id="submitFavoritesLink">
                <wa-icon slot="prefix" name="check-lg"></wa-icon>
                Tilføj
            </wa-button>
            <wa-button variant="default" size="small" id="cancelAddFavorites">
                <wa-icon slot="prefix" name="x-lg"></wa-icon>
                Annuller
            </wa-button>
        </wa-button-group>
    </wa-card>
    {{/if}}
{{/if}}
